<div class="pageTitle">
  <h1>Forked Repos</h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
  <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>
<div class='content'>
  <ul>
  <% get_res.each do | repo | %>
  <li>
    <a><%= repo["name"]%> </a>
  </li>
    <% end%>
</ul>
</div>